### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players= {'Total Players':[len(purchase_data['SN'].value_counts())]}
total_players1 = pd.DataFrame(total_players)
total_players1

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Number of Unique Items
Unique_Items = purchase_data['Item ID'].nunique()
Unique_Items

183

In [5]:
#Average  Price
Av_Price = purchase_data['Price'].mean()
Av_Price

3.050987179487176

In [6]:
#Number of purchase
Number_of_purchases=purchase_data["Purchase ID"].count()
Number_of_purchases

780

In [7]:
#Total Revenue
Total_rev =purchase_data['Price'].sum()
Total_rev

2379.77

In [8]:
#Purchasing Analysis (Total)
Purchasing_Analysis= {"Number of Unique Items":[Unique_Items],"Average Price":[Av_Price],"Number of Purchases": [Number_of_purchases],
                     "Total Revenue":[Total_rev]}
Purchasing_Analysis1 =pd.DataFrame(Purchasing_Analysis)
Purchasing_Analysis1=Purchasing_Analysis1.style.format({"Average Price":"${:,.2f}","Total Revenue":"${:,.2f}"})
Purchasing_Analysis1

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Total Count
total_count = len(purchase_data['SN'].unique())
total_count

576

In [10]:
Female1= purchase_data.groupby(['Gender']).get_group(('Female'))
Female2= len(Female1['SN'].unique())
Female_Percent= round((Female2/total_count)*100,2)
print(Female2)
print(Female_Percent)

81
14.06

In [11]:
Male1= purchase_data.groupby(['Gender']).get_group(('Male'))
Male2= len(Male1['SN'].unique())
Male_Percent= round((Male2/total_count)*100,2)
print(Male2)
print(Male_Percent)

484
84.03

In [12]:
Other1= purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other2= len(Other1['SN'].unique())
Other_Percent= round((Other2/total_count)*100,2)
print(Other2)
print(Other_Percent)

11
1.91

In [13]:
gender1 = {'':["Male",'Female','Other / Non-Disclosed'],'Total Count':[Male2,Female2,Other2],
                             'Percentage of Players':[Male_Percent,Female_Percent,Other_Percent]}
gender2 =  pd.DataFrame(gender1)
gender2= gender2.set_index('')
gender2=gender2.style.format({'Percentage of Players':"{:,.2f}%"})
gender2


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
Female_Purchase_Count=len(Female1['SN'])
Male_Purchase_Count=len(Male1['SN'])
Other_Purchase_Count=len(Other1['SN'])

print(Female_Purchase_Count)
print(Male_Purchase_Count)
print(Other_Purchase_Count)

113
652
15

In [15]:
Female_Avg_Price= (Female1["Price"].sum())/len(Female1["Price"])
Male_Avg_Price =(Male1["Price"].sum())/len(Male1["Price"])
Other_Avg_Price=(Other1["Price"].sum())/len(Other1["Price"])

print(Female_Avg_Price)
print(Male_Avg_Price)
print(Other_Avg_Price)

3.203008849557522
3.0178527607361967
3.3459999999999996

In [16]:
Female_Total_Purchase = Female1['Price'].sum()
Male_Total_Purchase = Male1['Price'].sum()
Other_Total_Purchase = Other1['Price'].sum()

print(Female_Total_Purchase)
print(Male_Total_Purchase)
print(Other_Total_Purchase)

361.94
1967.64
50.19

In [17]:
Per_Female_Avg =Female_Total_Purchase/Female2
Per_Male_Avg = Male_Total_Purchase/Male2
Per_Other_Avg = Other_Total_Purchase/Other2

print(Per_Female_Avg)
print(Per_Male_Avg)
print(Per_Other_Avg)

4.468395061728395
4.065371900826446
4.5627272727272725

In [18]:
Purchase_By_Gender = {"Gender":["Female","Male","Other / Non-Disclosed"],
                      "Purchase Count":[Female_Purchase_Count,Male_Purchase_Count,Other_Purchase_Count], 
                    "Average Purchase Price":[Female_Avg_Price,Male_Avg_Price,Other_Avg_Price],
                    "Total Purchase Value":[Female_Total_Purchase,Male_Total_Purchase,Other_Total_Purchase],
                "Avg Total Purchase per Person":[Per_Female_Avg,Per_Male_Avg,Per_Other_Avg]}

Purchase_By_Gender1 = pd.DataFrame(Purchase_By_Gender)
Purchase_By_Gender1 = Purchase_By_Gender1.set_index("Gender")
Purchase_By_Gender1=Purchase_By_Gender1.style.format({"Average Purchase Price": "${:.2f}","Avg Total Purchase per Person": "${:.2f}",
                                                     "Total Purchase Value": "${:.2f}"})

Purchase_By_Gender1

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
Max_Age = purchase_data["Age"].max()
Max_Age

45

In [19]:
bins = [0,9,14,19,24,29,34,39,46]
Age_labels = ["< 10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Summary"] = pd.cut(purchase_data["Age"],bins,labels= Age_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [20]:
#Purchase Count
Bin1 = purchase_data.groupby(["Age Summary"]).get_group(("< 10"))
pc1 = len(Bin1["SN"].unique())
Per_Bin1 = (pc1/total_count)*100
print(pc1)
print(Per_Bin1)

Bin2 = purchase_data.groupby(["Age Summary"]).get_group(("10-14"))
pc2 = len(Bin2["SN"].unique())
Per_Bin2 = (pc2/total_count)*100
print(pc2)
print(Per_Bin2)

Bin3 = purchase_data.groupby(["Age Summary"]).get_group(("15-19"))
pc3 = len(Bin3["SN"].unique())
Per_Bin3 = (pc3/total_count)*100
print(pc3)
print(Per_Bin3)

Bin4 = purchase_data.groupby(["Age Summary"]).get_group(("20-24"))
pc4 = len(Bin4["SN"].unique())
Per_Bin4 = (pc4/total_count)*100
print(pc4)
print(Per_Bin4)

Bin5 = purchase_data.groupby(["Age Summary"]).get_group(("25-29"))
pc5 = len(Bin5["SN"].unique())
Per_Bin5 = (pc5/total_count)*100
print(pc5)
print(Per_Bin5)

Bin6 = purchase_data.groupby(["Age Summary"]).get_group(("30-34"))
pc6 = len(Bin6["SN"].unique())
Per_Bin6 = (pc6/total_count)*100
print(pc6)
print(Per_Bin6)

Bin7 = purchase_data.groupby(["Age Summary"]).get_group(("35-39"))
pc7 = len(Bin7["SN"].unique())
Per_Bin7 = (pc7/total_count)*100
print(pc7)
print(Per_Bin7)

Bin8 = purchase_data.groupby(["Age Summary"]).get_group(("40+"))
pc8 = len(Bin8["SN"].unique())
Per_Bin8 = (pc8/total_count)*100
print(pc8)
print(Per_Bin8)

17
2.951388888888889
22
3.8194444444444446
107
18.57638888888889
258
44.79166666666667
77
13.368055555555555
52
9.027777777777777
31
5.381944444444445
12
2.083333333333333

In [21]:
Player_Bins_Count=[pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8]
Percent_Bins= [Per_Bin1,Per_Bin2,Per_Bin3,Per_Bin4,Per_Bin5,Per_Bin6,Per_Bin7,Per_Bin8]
#Percent_Bins= [round(x,2) for x in Percent_Bins]

Age_Dem = {"":Age_labels,"Total Count":Player_Bins_Count,"Percentage Of Players":Percent_Bins}
Age_Dem1 = pd.DataFrame(Age_Dem)
Age_Dem1 = Age_Dem1.set_index("")
Age_Dem1=Age_Dem1.style.format({"Percentage Of Players":"{:,.2f}%"})
Age_Dem1

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Age Group Count
Age_Group1 = purchase_data.groupby(["Age Summary"]).get_group(("< 10"))
AG_Count1 = len(Age_Group1["SN"])
print(AG_Count1)

Age_Group2 = purchase_data.groupby(["Age Summary"]).get_group(("10-14"))
AG_Count2 = len(Age_Group2["SN"])
print(AG_Count2)

Age_Group3 = purchase_data.groupby(["Age Summary"]).get_group(("15-19"))
AG_Count3 = len(Age_Group3["SN"])
print(AG_Count3)

Age_Group4 = purchase_data.groupby(["Age Summary"]).get_group(("20-24"))
AG_Count4 = len(Age_Group4["SN"])
print(AG_Count4)

Age_Group5 = purchase_data.groupby(["Age Summary"]).get_group(("25-29"))
AG_Count5 = len(Age_Group5["SN"])
print(AG_Count5)

Age_Group6 = purchase_data.groupby(["Age Summary"]).get_group(("30-34"))
AG_Count6 = len(Age_Group6["SN"])
print(AG_Count6)

Age_Group7 = purchase_data.groupby(["Age Summary"]).get_group(("35-39"))
AG_Count7 = len(Age_Group7["SN"])
print(AG_Count7)

Age_Group8 = purchase_data.groupby(["Age Summary"]).get_group(("40+"))
AG_Count8 = len(Age_Group8["SN"])
print(AG_Count8)

23
28
136
365
101
73
41
13

In [23]:
#Total Purchase Value
Age_Group1_Total_Purchase = Age_Group1["Price"].sum()
print(Age_Group1_Total_Purchase)

Age_Group2_Total_Purchase = Age_Group2["Price"].sum()
print(Age_Group2_Total_Purchase)

Age_Group3_Total_Purchase = Age_Group3["Price"].sum()
print(Age_Group3_Total_Purchase)

Age_Group4_Total_Purchase = Age_Group4["Price"].sum()
print(Age_Group4_Total_Purchase)

Age_Group5_Total_Purchase = Age_Group5["Price"].sum()
print(Age_Group5_Total_Purchase)

Age_Group6_Total_Purchase = Age_Group6["Price"].sum()
print(Age_Group6_Total_Purchase)

Age_Group7_Total_Purchase = Age_Group7["Price"].sum()
print(Age_Group7_Total_Purchase)

Age_Group8_Total_Purchase = Age_Group8["Price"].sum()
print(Age_Group8_Total_Purchase)

77.13
82.78
412.89
1114.06
292.99999999999994
214.00000000000003
147.67
38.24

In [24]:
#Average Purchase price
Age_Group1_Avg_Price= Age_Group1_Total_Purchase/len(Age_Group1["Price"])
print(Age_Group1_Avg_Price)

Age_Group2_Avg_Price= Age_Group2_Total_Purchase/len(Age_Group2["Price"])
print(Age_Group2_Avg_Price)

Age_Group3_Avg_Price= Age_Group3_Total_Purchase/len(Age_Group3["Price"])
print(Age_Group3_Avg_Price)

Age_Group4_Avg_Price= Age_Group4_Total_Purchase/len(Age_Group4["Price"])
print(Age_Group4_Avg_Price)

Age_Group5_Avg_Price= Age_Group5_Total_Purchase/len(Age_Group5["Price"])
print(Age_Group5_Avg_Price)

Age_Group6_Avg_Price= Age_Group6_Total_Purchase/len(Age_Group6["Price"])
print(Age_Group6_Avg_Price)

Age_Group7_Avg_Price= Age_Group7_Total_Purchase/len(Age_Group7["Price"])
print(Age_Group7_Avg_Price)

Age_Group8_Avg_Price= Age_Group8_Total_Purchase/len(Age_Group8["Price"])
print(Age_Group8_Avg_Price)

3.353478260869565
2.9564285714285714
3.035955882352941
3.0522191780821917
2.9009900990099005
2.9315068493150687
3.6017073170731706
2.9415384615384617

In [25]:
# Unique count of age group
Unique_AG_Count1 = len(Age_Group1["SN"].unique())
print(Unique_AG_Count1)

Unique_AG_Count2 = len(Age_Group2["SN"].unique())
print(Unique_AG_Count2)

Unique_AG_Count3 = len(Age_Group3["SN"].unique())
print(Unique_AG_Count3)

Unique_AG_Count4 = len(Age_Group4["SN"].unique())
print(Unique_AG_Count4)

Unique_AG_Count5 = len(Age_Group5["SN"].unique())
print(Unique_AG_Count5)

Unique_AG_Count6 = len(Age_Group6["SN"].unique())
print(Unique_AG_Count6)

Unique_AG_Count7 = len(Age_Group7["SN"].unique())
print(Unique_AG_Count7)

Unique_AG_Count8 = len(Age_Group8["SN"].unique())
print(Unique_AG_Count8)

17
22
107
258
77
52
31
12

In [26]:
#Average Total Purchase per person
PP_AvgTot_AG1 =Age_Group1_Total_Purchase/Unique_AG_Count1
print(PP_AvgTot_AG1)

PP_AvgTot_AG2 =Age_Group2_Total_Purchase/Unique_AG_Count2
print(PP_AvgTot_AG2)

PP_AvgTot_AG3 =Age_Group3_Total_Purchase/Unique_AG_Count3
print(PP_AvgTot_AG3)

PP_AvgTot_AG4 =Age_Group4_Total_Purchase/Unique_AG_Count4
print(PP_AvgTot_AG4)

PP_AvgTot_AG5 =Age_Group5_Total_Purchase/Unique_AG_Count5
print(PP_AvgTot_AG5)

PP_AvgTot_AG6 =Age_Group6_Total_Purchase/Unique_AG_Count6
print(PP_AvgTot_AG6)

PP_AvgTot_AG7 =Age_Group7_Total_Purchase/Unique_AG_Count7
print(PP_AvgTot_AG7)

PP_AvgTot_AG8 =Age_Group8_Total_Purchase/Unique_AG_Count8
print(PP_AvgTot_AG8)

4.537058823529412
3.7627272727272727
3.858785046728972
4.318062015503876
3.8051948051948044
4.115384615384616
4.763548387096773
3.186666666666667

In [27]:
# Instructon shows the first age group ("<10") on the last row. That is why my result doesn't look in order. 
# I just followed the instruction

Purchase_By_AgeGroup = {"":["10-14","15-19","20-24","25-29","30-34","35-39","40+","<10"],
                      "Purchase Count":[AG_Count2,AG_Count3,AG_Count4,AG_Count5,AG_Count6,AG_Count7,AG_Count8,AG_Count1], 
                    "Average Purchase Price":[Age_Group2_Avg_Price,Age_Group3_Avg_Price,Age_Group4_Avg_Price,Age_Group5_Avg_Price,Age_Group6_Avg_Price,Age_Group7_Avg_Price,Age_Group8_Avg_Price,Age_Group1_Avg_Price],
                    "Total Purchase Value":[Age_Group2_Total_Purchase,Age_Group3_Total_Purchase,Age_Group4_Total_Purchase,Age_Group5_Total_Purchase,Age_Group6_Total_Purchase,Age_Group7_Total_Purchase,Age_Group8_Total_Purchase,Age_Group1_Total_Purchase],
                "Avg Total Purchase per Person":[PP_AvgTot_AG2,PP_AvgTot_AG3,PP_AvgTot_AG4,PP_AvgTot_AG5,PP_AvgTot_AG6,PP_AvgTot_AG7,PP_AvgTot_AG8,PP_AvgTot_AG1]}

Purchase_By_AgeGroup1 = pd.DataFrame(Purchase_By_AgeGroup)
Purchase_By_AgeGroup1 = Purchase_By_AgeGroup1.set_index("")
Purchase_By_AgeGroup1=Purchase_By_AgeGroup1.style.format({"Average Purchase Price": "${:.2f}","Avg Total Purchase per Person": "${:.2f}",
                                                     "Total Purchase Value": "${:.2f}"})

Purchase_By_AgeGroup1

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
# Top Spenders

Sn_Total_Purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
Sn_Purchase_Count = purchase_data.groupby('SN')['Price'].count().to_frame()
Sn_Purchase_Avg = purchase_data.groupby('SN')['Price'].mean().to_frame()

Sn_Total_Purchase.columns=["Total Purchase Value"]
Join1 = Sn_Total_Purchase.join(Sn_Purchase_Count, how="left")
Join1.columns=["Total Purchase Value", "Purchase Count"]

Join2 = Join1.join(Sn_Purchase_Avg, how="inner")
Join2.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

Top_Spenders_df = Join2[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
Top_Spenders_final = Top_Spenders_df.sort_values('Total Purchase Value', ascending=False).head()
Top_Spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
# Most Popular
Pre_Merge1 = purchase_data.groupby("Item Name").sum().reset_index()
Pre_Merge2 = purchase_data.groupby("Item ID").sum().reset_index()
Pre_Merge3 = purchase_data.groupby("Item Name").count().reset_index()

Merge1 = pd.merge(Pre_Merge1, Pre_Merge2, on="Price")
Merge2 = pd.merge(Pre_Merge3, Merge1, on="Item Name")

Merge2["Gender"] = (Merge2["Price_y"]/Merge2["Item ID"])
Merge2_renamed = Merge2.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

Clean_df = Merge2_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

Final_df = Clean_df.set_index(['Item ID','Item Name'])
Most_Popular =Final_df.sort_values("Purchase Count", ascending=False).head()
Most_Popular.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
# Most Profitables

Most_Profitable =Final_df.sort_values("Total Purchase Value", ascending=False).head()
Most_Profitable.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})